{# TODO #}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('assets/css/footer.css') }}">
{% endblock %}

<div class="container">
  <footer class="container-fluid d-flex flex-wrap justify-content-center align-items-center border-top">
    <p class="col-md-2 mb-0 text-dark">&copy; 2023 Noblecourt Ivan</p>
    <ul class="nav col-md-8 justify-content-end text-center">
      <li class="nav-item"><a href="{{ path('accueil') }}" class="nav-link px-2 text-dark">Accueil</a></li>
      {% if user %}
      <li class="nav-item"><a href="{{ path('user.liste') }}" class="nav-link px-2 text-dark">Nos événements</a></li>
      {% else %}
      <li class="nav-item"><a href="{{ path('events') }}" class="nav-link px-2 text-dark">Nos événements</a></li>
      {% endif %}
      <li class="nav-item"><a href="{{ path('quiSommes')}}" class="nav-link px-2 text-dark">Qui sommes-nous ?</a></li>
      <li class="nav-item"><a href="{{ path('dons') }}" class="nav-link px-2 text-dark">Dons</a></li>
      <li class="nav-item"><a href="{{ path('contact') }}" class="nav-link px-2 text-dark">Contact</a></li>
      <li class="nav-item"><a href="{{ path('mentions') }}" class="nav-link px-2 text-dark">Mentions Légales</a></li>
    </ul>
  </footer>
</div>
