{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/nav.css') }}" />
{% endblock %}
  <nav class="navbar navbar-expand-lg">
    <div class="container my-3">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('accueil') }}">Accueil</a>
          </li>
          {% if user %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('user.liste') }}">Nos événements</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('events') }}">Nos événements</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('quiSommes') }}">Qui sommes-nous ?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('dons') }}">Dons</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('contact') }}">Contact</a>
          </li>
          <li class="nav-item" id="insc">
            <a class="nav-link active" aria-current="page" href="{{ path('user.login') }}">Inscription / Connexion</a>
          </li>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="{{ absolute(assets('assets/img/user.png')) }}" alt="" width="32" height="32"
                class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">

              {% if user %}
              <li>
                <p class="dropdown-item text-dark disabled">Bonjour, {{ user.prenom }}</p>
              </li>
              {% else %}
              <li>
                <p class="dropdown-item text-dark disabled">Bonjour, Visiteur</p>
              </li>
              {% endif %}

              {% if user %}

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('user.monCompte') }}">Mon compte</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('user.listEvent') }}">Mes événements</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('user.logout') }}">Se déconnecter</a>
              </li>

              {% else %}

              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('events') }}">Voir les événements</a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ path('user.login') }}">Se connecter</a>
              </li>

              {% endif %}
            </ul>
          </div>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Recherche ..." aria-label="Search">
        </form>

      </div>
    </div>
  </nav>




  {# <div class="container my-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>

      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ path('accueil') }}" class="nav-link px-3 link-dark fs-5">Accueil</a></li>
        {% if user %}
        <li><a href="{{ path('user.liste') }}" class="nav-link px-3 link-dark fs-5">Nos événements</a></li>
        {% else %}
        <li><a href="{{ path('events') }}" class="nav-link px-3 link-dark fs-5">Nos événements</a></li>
        {% endif %}
        <li><a href="{{ path('quiSommes') }}" class="nav-link px-3 link-dark fs-5">Qui sommes-nous ?</a></li>
        <li><a href="{{ path('dons') }}" class="nav-link px-3 link-dark fs-5">Dons</a></li>
        <li><a href="{{ path('contact') }}" class="nav-link px-3 link-dark fs-5">Contact</a></li>
        <li><a href="{{ path('user.login') }}" class="nav-link px-3 link-dark fs-5">Inscription / Connexion</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Recherche..." aria-label="Search">
      </form>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="{{ absolute(assets('assets/img/user.png')) }}" alt="" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">

          {% if user %}
          <li>
            <p class="dropdown-item text-dark disabled">Bonjour, {{ user.prenom }}</p>
          </li>
          {% else %}
          <li>
            <p class="dropdown-item text-dark disabled">Bonjour, Visiteur</p>
          </li>
          {% endif %}

          {% if user %}

          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('user.monCompte') }}">Mon compte</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('user.listEvent') }}">Mes événements</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('user.logout') }}">Se déconnecter</a>
          </li>

          {% else %}

          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('events') }}">Voir les événements</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ path('user.login') }}">Se connecter</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header> #}