{% extends "admin.layout.html.twig" %}
{% block title %}
<title>Admin - Liste des événements</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/event.css')) }}">
{% endblock %}
{% block body %}

<div class="container text-center my-1 d-flex flex-column align-items-center">

    <h2 class="text-center my-4 border rounded-4 bg-white">Liste des événements</h2>
    <table class="table-responsive">
        <thead>
            <tr>
                <th><span>Nom de l'événement</span></th>
                <th><span>Description de l'événement</span></th>
                <th><span>Intervenant de l'événement</span></th>
                <th><span>Débute à </span></th>
                <th><span>Fini à </span></th>
                <th><span>Nombres de places restantes </span></th>
                <th><span>Liste des participants</span></th>
                <th><span>Options disponibles</span></th>
            </tr>
        </thead>

        <tbody class="bg-white">
            {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{% for intervenant in evenement.intervenants %}
                    {{ intervenant.nom }}
                    {{ intervenant.prenom }}
                    {% endfor %}</td>
                <td>{{ evenement.startAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                <td>{{ evenement.endAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                {% if evenement.places_restantes != 0 %}
                <td>{{ evenement.places_restantes }}</td>
                {% else %}
                <td><span class="text-danger">Complet</span></td>
                {% endif %}

                <td>
                    {% if evenement.user_register == true %}
                    <!-- Bouton Liste des Participants -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop{{ evenement.id }}">
                        Voir la liste
                    </button>
                    {% else %}
                    <p class="text-danger fw-bold">Aucun participant</p>
                    {% endif %}

                    <!-- Modal Liste des Participants -->

                    <div class="modal fade" id="staticBackdrop{{ evenement.id }}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel{{ evenement.id }}">Participants
                                        de "{{ evenement.nom }}"</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% for user in evenement.users %}
                                    <p>{{ user.nom }} {{user.prenom}} /
                                        <a href="{{ path('users.remove', {idUser: user.id, idEvent: evenement.id})}}"
                                            class="text-decoration-none text-white"> <i class="fa-sharp fa-solid fa-ban"
                                                style="color: #f51919;"></i></a>
                                    </p>
                                    {% endfor %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"
                                        data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>


                <td>
                    <!-- Button Options disponibles -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ evenement.id }}">
                        Supprimer
                    </button>

                    <!-- Modal Supprimer -->
                    <div class="modal fade" id="exampleModal{{ evenement.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{ evenement.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{ evenement.id }}">Attention la
                                        suppression est
                                        définitive !</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-danger">
                                        <a href="{{ path('event.delete', {id: evenement.id}) }}"
                                            class="text-decoration-none text-white">Supprimer</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning mt-3">
                        <a href="{{ path('event.update', {id: evenement.id}) }}"
                            class="text-decoration-none text-dark">Modifier</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}




{# TODO #}
{# <td>
    {% for user in evenement.users %}
    <p>{{ user.nom }} {{user.prenom}}
        <!-- Button trigger modal -->
        <a data-bs-toggle="modal" data-bs-target="#testModal{{ evenement.id }}"><i class="fa-sharp fa-solid fa-ban"
                style="color: #f51919;"></i></a>
    </p>
    <br>
    <!-- Modal -->
    <div class="modal fade" id="testModal{{ evenement.id }}" tabindex="-1"
        aria-labelledby="testModalLabel{{ evenement.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="testModalLabel{{ evenement.id }}">Retirer
                        l'utilisateur de l'événement</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                    <button type="button" class="btn btn-danger">
                        <a href="{{ path('users.remove', {idUser: user.id, idEvent: evenement.id})}}"
                            class="text-decoration-none text-white">Désinscrire</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-danger">Aucun participant</p>
    {% endfor %}
</td> #}