{% extends "admin.layout.html.twig" %}
{% block title %}
<title>Admin - Liste des événements</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/event.css')) }}">
{% endblock %}
{% block body %}

<div class="container text-center my-1 d-flex flex-column align-items-center">

    <h2 class="text-center my-4 border rounded-4 bg-white">Liste des événements</h2>
    <table>
        <thead class="bg-white">
            <tr>
                <th>Nom de l'événement</th>
                <th>Description de l'événement</th>
                <th>Intervenant de l'événement</th>
                <th>Débute à </th>
                <th>Fini à </th>
                <th>Nombres de places restantes </th>
                <th>Liste des participants</th>
                <th>Options disponibles</th>
            </tr>
        </thead>

        <tbody class="bg-white">
            {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{% for intervenant in evenement.intervenants %}
                    {{ intervenant.nom }}
                    {{ intervenant.prenom }}
                    {% endfor %}</td>
                <td>{{ evenement.startAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                <td>{{ evenement.endAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                {% if evenement.places_restantes != 0 %}
                <td>{{ evenement.places_restantes }}</td>
                {% else %}
                <td><span class="text-danger">Complet</span></td>
                {% endif %}



                {# TODO #}
                <td>
                    {% for user in evenement.users %}
                    <span>{{ user.nom }} {{user.prenom}}</span>
                    <!-- Button trigger modal -->
                    <a data-bs-toggle="modal" data-bs-target="#testModal{{ evenement.id }}"><i
                            class="fa-sharp fa-solid fa-ban" style="color: #f51919;"></i></a>
                    <br>
                    <!-- Modal -->
                    <div class="modal fade" id="testModal{{ evenement.id }}" tabindex="-1"
                        aria-labelledby="testModalLabel{{ evenement.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="testModalLabel{{ evenement.id }}">Retirer
                                        l'utilisateur de l'événement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-danger">
                                        <a href="{{ path('users.remove', {idUser: user.id, idEvent: evenement.id})}}"
                                            class="text-decoration-none text-white">Désinscrire</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <span>Aucun participant</span>
                    {% endfor %}
                </td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ evenement.id }}">
                        Supprimer
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{ evenement.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{ evenement.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{ evenement.id }}">Attention la
                                        suppression est
                                        définitive !</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-danger">
                                        <a href="{{ path('event.delete', {id: evenement.id}) }}"
                                            class="text-decoration-none text-white">Supprimer</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning mt-3">
                        <a href="{{ path('event.update', {id: evenement.id}) }}"
                            class="text-decoration-none text-dark">Modifier</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}