{% extends "admin.layout.html.twig" %}
{% block title %}
<title>Admin - Liste Intervenant</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/event.css')) }}">
{% endblock %}

{% block body %}


<div class="container-fluid text-center my-2 d-flex flex-column align-items-center">

    <h2 class="my-4 border rounded-4 bg-white">Liste des intervenants</h2>

    <table class="table align-middle">
        <thead>
            <tr>
                <th class="border-end border-dark "><span>Nom</span></th>
                <th class="border-end border-dark"><span>Prénom</span></th>
                <th class="border-end border-dark"><span>Rôle / Profession</span></th>
                <th class="border-dark"><span>Action</span></th>
            </tr>
        </thead>

        <tbody class="bg-white fw-bolder">
            {% for intervenant in intervenants %}
            <tr>
                <td>{{ intervenant.nom }}</td>
                <td>{{ intervenant.prenom }}</td>
                <td>{{ intervenant.role }}</td>
                <td>
                    <!-- Boutton supprimer modal -->
                    <a href="{{ intervenant.id }}" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{ intervenant.id }}"><i class="fa-sharp fa-solid fa-trash"
                            style="color: #df0101;"></i></a>

                    <!-- Boutton téléphone modal -->
                    <a href="{{ intervenant.id }}" data-bs-toggle="modal"
                        data-bs-target="#phoneModal{{ intervenant.id }}" class="ms-3"><i
                            class="fa-solid fa-phone"></i></a>

                    <!-- Modal supprimer l'intervenant -->
                    <div class="modal fade" id="exampleModal{{ intervenant.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{ intervenant.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{ intervenant.id }}">
                                        La suppresion de l'intervenant est définitive <i
                                            class="fa-solid fa-triangle-exclamation" style="color: #ff0000;"></i></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Retour</button>
                                    <button type="button" class="btn btn-danger">
                                        <a href="{{ path('inter.delete', {id: intervenant.id}) }}"
                                            class="text-decoration-none text-white">Confirmer</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Téléphone Intervenant -->
                    <div class="modal fade" id="phoneModal{{ intervenant.id }}" tabindex="-1"
                        aria-labelledby="phoneModalLabel{{ intervenant.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="phoneModalLabel{{ intervenant.id }}">Numéro de téléphone de {{
                                        intervenant.nom }} {{ intervenant.prenom }} / {{ intervenant.role }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body fs-2">
                                    {{ intervenant.tel }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}