{% extends "admin.layout.html.twig" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/inter.css')) }}">
{% endblock %}

{% block body %}


<div class="container text-center my-2 d-flex flex-column align-items-center">
<h2 class="my-4 border rounded-4 bg-white">Liste des intervenants</h2>
<table>
    <thead class="bg-white">
        <tr>
            <th>Nom de l'intervenant</th>
            <th>Prénom de l'intervenant</th>
            <th>Rôle de l'intervenant</th>
            <th>Option disponible</th>
        </tr>
    </thead>

    <tbody class="bg-white">
        {% for intervenant in intervenants %}
        <tr>
            <td>{{ intervenant.nom }}</td>
            <td>{{ intervenant.prenom }}</td>
            <td>{{ intervenant.role }}</td>
            <td>
                <a href="{{ path('inter.delete', {id: intervenant.id}) }}" class="text-decoration-none text-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}