{% extends "layout.html.twig" %}
{% block title %}
<title>Liste des événements</title>
{% endblock %}
{% block stylesheet %}
{# Mettre ici le liens vers le CSS de la page #}
{% endblock %}
{% block body %}
<!-- La méthode POST
    récupére le 'name' de l'input enctype="multipart/form-data" permet de récuperer l'image envoyer // Obligatoire pour
    récupérer un fichier -->

<h1>Liste des événements</h1>

<table>
    <thead>
        <tr>
            <th>Nom de l'événement</th>
            <th>Description de l'événement</th>
            <th>Débute à </th>
            <th>Fini à </th>
            <th>Nombres de places disponibles</th>
        </tr>
    </thead>

    <tbody>
        {% for evenement in evenements %}
        <td>{{ evenement.nom }}</td>
        <td>{{ evenement.description }}</td>
        <td>{{ evenement.startAt|date("m/d/Y\\ H:i", "Europe/Paris") }}</td>
        <td>{{ evenement.endAt|date("m/d/Y\\ H:i", "Europe/Paris") }}</td>
        <td>{{ evenement.nbrPLacesDispo }}</td>
        {% endfor %}
    </tbody>
</table>

{% endblock %}