{% extends "layout.html.twig" %}
{% block title %}
<title>Listes événements disponibles</title>
{% endblock %}
{% block stylesheet %}

<link rel="stylesheet" href="{{ assets('/assets/css/event.css') }}" />
{% endblock %}
{% block body %}


<h2 class="mx-auto text-center bg-white border rounded-4 align-self-center mb-4">Liste des événements disponibles</h2>
<div class="container card-group gap-3 text-center mb-5">
    {% for evenement in evenements %}
    {% if evenement.user_register == false %}
    <div class="card border border-dark rounded">
        <div class="card-body">
            <h5 class="card-title text-uppercase my-2">{{ evenement.nom }}</h5>
            <hr>
            <p class="card-text my-3">{{ evenement.description }}</p>
            <hr>
            <p class="card-text">Débute le {{ evenement.startAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.startAt|date("H:i", "Europe/Paris") }}</p>
            <p class="card-text">Fini le {{ evenement.endAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.endAt|date("H:i", "Europe/Paris") }}</p>
            <hr>
            {% if evenement.places_dispo != 0 %}
            <p class="card-text"><small class="text-dark">Nombres de places restantes : <span
                        class="text-danger fs-5 bolder">{{
                        evenement.places_dispo }}</span></small></p>
            {% else %}
            <p class="card-text"><small class="text-danger text-uppercase bolder fs-5">Complet</small></p>
            {% endif %}
            {% if evenement.user_register == false and evenement.places_dispo != 0 %}
            <button class="btn btn-primary">
                <a href="{{ path('user.inscEvent', {id: evenement.id}) }}"
                    class="text-decoration-none text-white">Participer</a>
            </button>

            {% elseif evenement.user_register == true %}
            <button class="btn btn-danger">
                <a href="{{ path('user.decoEvent', {id: evenement.id}) }}" class="text-decoration-none text-white">Se
                    désinscrire</a>
            </button>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endblock %}

    {# Affichage Version Tableau Première Version
    <div class="container my-2 d-flex flex-column align-items-center text-center">

        <h2 class="my-2 border rounded-4 bg-white px-2 text-center">Liste des événements disponibles</h2>
        <table class="my-3">
            <thead class="bg-white">
                <tr>
                    <th>Nom de l'événement</th>
                    <th>Description de l'événement</th>
                    <th>Intervenant de l'événement</th>
                    <th>Débute à </th>
                    <th>Fini à </th>
                    <th>Nombres de places disponibles </th>
                    <th>Participer</th>
                </tr>
            </thead>

            <tbody class="bg-white">
                {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.nom }}</td>
                    <td>{{ evenement.description }}</td>
                    <td>{% for intervenant in evenement.intervenants %}
                        {{ intervenant.nom }}
                        {% endfor %}</td>
                    <td>{{ evenement.startAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                    <td>{{ evenement.endAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                    {% if evenement.places_dispo != 0 %}
                    <td>{{ evenement.places_dispo }}</td>
                    {% else %}
                    <td><span class="text-danger">Complet</span></td>
                    {% endif %}
                    <td>
                        {% if evenement.user_register == false and evenement.places_dispo != 0 %}

                        <a href="{{ path('user.inscEvent', {id: evenement.id}) }}"
                            class="text-decoration-none">S'inscrire</a>

                        {% elseif evenement.user_register == true %}

                        <a href="{{ path('user.decoEvent', {id: evenement.id}) }}"
                            class="text-decoration-none text-danger">Déscinscription</a>

                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %} #}