{% extends 'layout.html.twig' %}
{% block title %}
<title>Inscription / Connexion</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/userForm.css') }}" />
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ assets('/assets/js/formSlider.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}

<div class="userFormViewPort bg-white">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-warning text-white" onclick="slider('connexion')">Connexion</button>
        <button type="button" class="btn btn-success" onclick="slider('inscription')">Inscription</button>
    </div>
    <div class="formContainer">
        {# Formulaire connexion #}
        <form method="POST" class="p-4 formConnexion d-flex flex-column justify-content-evenly my-5"
            action="{{ path('user.connection') }}">
            <div class="form-floating mb-3 ">
                <input type="email" class="form-control" name="mail" id="connexion_email" placeholder="nom@example.com">
                <label for="connexion_email">Adresse e-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="mdp" id="connexion_password"
                    placeholder="Saisir votre mot de passe">
                <label for="connexion_password">Mot de passe</label>
            </div>
            <input type="submit" value="Connexion"
                class="border border-warning rounded-4 bg-warning w-50 align-self-center py-4 my-5 text-white">
        </form>

        {# Formulaire inscription #}
        <form method="POST" class="p-4 formInscription d-flex flex-column" action="{{ path('user.new') }}">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nom" id="nom" pattern="^[a-zA-Z]+$">
                <label for="nom">Nom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="prenom" id="prenom" pattern="[a-zA-Z]+">
                <label for="prenom">Prénom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="mail" id="mail"
                    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                <label for="mail">Adresse e-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="mdp" id="floatingPassword">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="mdp_confirm" id="floatingPasswordConfirm">
                <label for="floatingPasswordConfirm">Confirmer le mot de passe</label>
            </div>

            {# CAPTCHA #}
            <div class="g-recaptcha" data-sitekey="6LfNM_4kAAAAAGIXgFgCgSVpCwsZlB9PHw28zJdj"></div>
            <input type="submit" value="Inscription"
                class="border border-warning rounded-4 bg-warning align-self-center py-2 px-5 my-3 text-white">
        </form>
    </div>
</div>
{% endblock %}