{% extends 'layout.html.twig' %}
{% block title %}
<title>Inscription / Connexion</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/userForm.css') }}" />
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ assets('/assets/js/formSlider.js') }}"></script>
<script type="text/javascript" src="{{ assets('/assets/js/showPass.js') }}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://kit.fontawesome.com/d30d53ecea.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<div class="userFormViewPort bg-white mb-2">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success" onclick="slider('inscription')">Inscription</button>
        <button type="button" class="btn btn-warning text-white" onclick="slider('connexion')">Connexion</button>
    </div>
    <div class="formContainer">
        {# Formulaire inscription #}
        <form method="POST" class="p-4 formInscription d-flex flex-column" action="{{ path('user.new') }}"
            autocomplete="off">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="nom" id="nom" pattern="^[a-zA-Z]+$">
                <label for="nom">Nom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="prenom" id="prenom" pattern="[a-zA-Z]+">
                <label for="prenom">Prénom</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="mail" id="mail"
                    pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                <label for="mail">Adresse e-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="mdp" id="floatingPassword">
                <label for="floatingPassword">Mot de passe</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="mdp_confirm" id="floatingPasswordConfirm">
                <label for="floatingPasswordConfirm">Confirmer le mot de passe</label>
            </div>

            <p class="text-center">En vous inscrivant, vous acceptez les conditions générales d'utilisation
                définie ci-dessous : <a class="icon-link icon-link-hover" href="{{ path('mentions') }}">Cliquez ici</a>
            </p>

            {# CAPTCHA #}
            <div class="g-recaptcha align-self-center" data-sitekey="6LeIgIMlAAAAAJjT_9J79tzTX-iMSTZ2ejI9oTqb"></div>
            {# CAPTCHA #}

            {{ csrf() }}

            <input type="submit" value="Inscription" id="insc"
                class="border border-warning rounded-4 bg-warning align-self-center py-2 px-5 my-3 text-white">

        </form>

        {# Formulaire connexion #}
        <form method="POST" class="formConnexion p-4 d-flex flex-column justify-content-between autocomplete=" off""
            action="{{ path('user.connection') }}">

            <div class="form-floating mb-3 ">
                <input type="email" class="form-control" name="mail" id="connexion_email" placeholder="nom@example.com">
                <label for="connexion_email">Adresse e-mail</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" name="mdp" id="connexion_password"
                    placeholder="Saisir votre mot de passe">
                <label for="connexion_password">Mot de passe</label>
            </div>

            <div class="form-check form-switch row mt-3 ms-1">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                    onclick="showPass()">
                <label class="form-check-label" for="flexSwitchCheckDefault">Afficher le mot de passe</label>
            </div>

            <a class="mt-3 ms-2" class="">Mot de passe oublié ?</a>

            {{ csrf() }}

            <input type="submit" value="Connexion"
                class="border border-warning rounded-4 bg-warning w-50 align-self-center py-2 my-5 text-white">
        </form>
    </div>
</div>
{% endblock %}