{% extends "layout.html.twig" %}
{% block title %}
<title>Mes événements</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ absolute(assets('assets/css/userEvent.css')) }}">
{% endblock %}
{% block body %}

<h2 class="text-center mx-auto border rounded bg-white mb-4 py-2">Mes événements</h2>
<div class="container card-group gap-3 text-center">
    {% for evenement in evenements %}
    {% if evenement.user_register == true %}

    <div class="card border border-dark rounded">
        <div class="card-body">
            <h5 class="card-title fs-3 my-2">{{ evenement.nom }}</h5>
            <hr>
            <p class="card-text my-3">{{ evenement.description }}</p>
            <hr>
            <p class="card-text">Débute le {{ evenement.startAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.startAt|date("H:i", "Europe/Paris") }}</p>
            <p class="card-text">Fini le {{ evenement.endAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.endAt|date("H:i", "Europe/Paris") }}</p>
            <hr>
            {% if evenement.places_dispo > 0 %}
            <p class="card-text"><small class="text-dark">Nombres de places restantes : <span
                        class="text-danger fs-5 bolder">{{
                        evenement.places_dispo }}</span></small></p>
            {% else %}
            <p class="card-text"><small class="text-danger text-uppercase fs-5">Complet</small></p>
            {% endif %}

            {{ csrf() }}
            
        </div>
        <button class="btn btn-danger mb-3 w-50 mx-auto">
            <a href="{{ path('user.decoEvent', {id: evenement.id}) }}" class="text-decoration-none text-white">Se
                désinscrire</a>
        </button>
    </div>
    {% endif %}
    {% endfor %}

    {% endblock %}
