{% extends "layout.html.twig" %}
{% block title %}
<title>Nos Evénements</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
<link rel="stylesheet" href="{{ assets('/assets/css/event.css') }}" />
{% endblock %}
{% block body %}
<div class="container text-center my-2 d-flex flex-column align-items-center">

    <h2 class="text-center my-4 border rounded-4 bg-white px-1">Liste des événements disponibles</h2>
    <table>
        <thead class="bg-white">
            <tr>
                <th>Nom de l'événement</th>
                <th>Description de l'événement</th>
                <th>Débute à </th>
                <th>Fini à </th>
                <th>Nombres de places disponibles </th>
            </tr>
        </thead>

        <tbody class="bg-white">
            {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.startAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                <td>{{ evenement.endAt|date("d/m/Y\\ H:i", "Europe/Paris") }}</td>
                {% if evenement.places_dispo != 0 %}
                <td>{{ evenement.places_dispo }}</td>
                {% else %}
                    <td><span class="text-danger">Complet</span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}