{% extends "layout.html.twig" %}
{% block title %}
<title>Nos Evénements</title>
{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ assets('/assets/css/home.css') }}" />
<link rel="stylesheet" href="{{ assets('/assets/css/event.css') }}" />
{% endblock %}
{% block body %}

<h2 class="mx-auto text-center bg-white border rounded-4 align-self-center my-3">Liste des événements disponibles</h2>
<div class="container card-group gap-3 text-center mb-5 mt-4">
    {% for evenement in evenements %}
    <div class="card border border-dark rounded">
        <div class="card-body">
            <h5 class="card-title text-uppercase my-2">{{ evenement.nom }}</h5>
            <p class="card-text my-3">{{ evenement.description }}</p>
            <hr>
            <p class="card-text">Débute le {{ evenement.startAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.startAt|date("H:i", "Europe/Paris") }}</p>
            <p class="card-text">Fini le {{ evenement.endAt|date("d/m/Y\\", "Europe/Paris") }} à {{
                evenement.endAt|date("H:i", "Europe/Paris") }}</p>
            <hr>
            {% if evenement.places_dispo != 0 %}
            <p class="card-text"><small class="text-dark">Nombres de places restantes : <span
                        class="text-danger fs-5 bolder">{{
                        evenement.places_dispo }}</span></small></p>
            {% else %}
            <p class="card-text"><small class="text-danger text-uppercase bolder fs-5">Complet</small></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}